{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Index page of song-helper">
    <meta name="author" content="Sichkar Tetiana and Zavalniuk Maxim">
    <title>{% block title %}{% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon"  href="{% static 'img/favicon.ico' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
