@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #b92b27, #e9df0c)
}

.form h1 {
    color: white;
    text-transform: uppercase;
}

.white-color {
    color: white;
}

.form label {
    color: white;
}

.form a:hover {
    transition: 1s;
    color: grey;
}
