{% load static %}
<form method='POST' class="form">
    {% csrf_token %}
    <a href="https://github.com/mezidia" target="_blank" title="Mezidia"><img class="mb-4" src="{% static 'img/MezidiaLogoTransparent.png' %}"
         alt="Logo image" width="72" height="72"></a>
    <h1>Song helper</h1>
    <p class="white-color">Please an identifier of your song</p>
    {{ form }}
    <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Add</button>
    <a href="{% url 'mesite:index' %}" style="text-decoration: underline" class="white-color">Return to main page</a>
</form>

