{% load static %}
<div class="container">
    <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center p-4 pt-5">
            <form method='POST' class="form">
                {% csrf_token %}
                <img class="mb-4" src="{% static 'img/MezidiaLogoTransparent.png' %}"
                     alt="Logo image" width="72" height="72">
                <h1>Song helper</h1>
                <p>Please write a description of your mood</p>
                {{ form }}
                <!-- {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field.results }}
                        {{ field }}
                        {% endfor %} -->
                <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Sign in</button>
                <a href="#" style="text-decoration: underline">Add new song to database</a>
                <p class="mt-3 mb-3">&copy; 2020–{{ year }}</p>
            </form>
        </div>
    </div>
</div>
