{% load static %}
<form method='POST' class="form">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'img/MezidiaLogoTransparent.png' %}"
         alt="Logo image" width="72" height="72">
    <h1>Song helper</h1>
    <p class="white-color">Please write a description of your mood</p>
    {{ form }}
    <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Get the song</button>
    <a href="{% url 'mesite:add_song' %}" style="text-decoration: underline" class="white-color">Add new song to database</a>

</form>
