{% extends 'base.html' %}
{% load static %}
{% block title %}
    Song helper
{% endblock %}
{% block content %}
    <main class="form-signin text-center">
        <form>
            <img class="mb-4" src="{% static 'img/MezidiaLogoTransparent.png' %}"
                 alt="Logo image" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <label for="inputText" class="visually-hidden">Email address</label>
            <textarea class="form-control" id="inputText" rows="3"></textarea>
            <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Sign in</button>
            <p class="mt-3 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
{% endblock %}
